<!-- index.html.erb -->
<div id="background_users">
  <div class="users_container">
    <div class="row">
      <p class="navbar-text">
        <% if user_signed_in? %>
          Hi <strong><%= current_user.name %></strong>&nbsp;&nbsp;&nbsp;
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |

          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
          <!-- <img src="assets/fb_login.png" height="25" width="25"/> -->

          <%= link_to image_tag("fb_login.png", :border => 0, :alt => 'Facebook Login', :title => 'Facebook Login'), user_omniauth_authorize_path(:facebook), :class => 'navbar-link'%>
          <%= link_to 'Facebook Login', user_omniauth_authorize_path(:facebook), :class => 'navbar-link'%>
        <% end %></p>


  <div id="wrapper1" class="gradient">
    <div class="heading">
      HTML Login form
      </div>

    <form name="login-form" class="login-form" action="" method="post">

    <div class="header">
      <h1>Login Form</h1>
      <span>Please login by using this beautiful login form or if you don't have an account, you can Register!</span>
    </div>


    <div class="content">
      <input name="username" class="input" type="text" placeholder="Username" />
      <input name="password" class="input password" type="password" placeholder="Password" />
    </div>

    <!--Buttons-->
    <div>
      <input type="submit" class="button input" name="submit" value="Login" />
      <input type="submit" class="register" name="submit" value="Register" />
    </div>
    </form>
  </div>

 </div>

    </div>
</div>
