<!DOCTYPE html>
<html>
<head>
  <title>Rendezvous NYC</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
<!-- NAVBAR -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span id="logo">Rendezvous NYC</span></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/users/:id">Profile</a></li>
            <li><a href="/users">Sign up/Login</a></li>
            <li class="dropdown">
              <a href="/users/user_id/searches" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"></li>
                <li><a href="/users/user_id/searches">All</a></li>
                <li><a href="#">Sports</a></li>
                <li class="divider">Concerts</li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Indoors</a></li>
                <li><a href="#">Outdoors</a></li>
              </ul>
            </li>
          </ul>
          <div id="current_user_name">
            <% if user_signed_in? %>
            <a href="/users"><strong><%= current_user.email %></strong></a>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield %>

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2014 MeganCat, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>

</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
